<%- include('../partials/header') %>
<% if(errorMessage!=''){ %>
    <%- include('../partials/error',{errorMessage:errorMessage}) %> 
<% } %>
<div class="container">
    <h1>Welcome to Food Blogger!!</h1>
    <p>A place for people to share about their food experiences</p>
    <a href="/post/new">Add a new entry</a>
</div>
<%- include('../partials/show_post',{posts:posts}) %>
 <%- include('../partials/footer') %> 